/* Importing Open Sans Condensed Google font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

#digital-clock {
background: url("https://img.freepik.com/free-photo/luxurious-modern-interior-living-room-gray-sofa-white-flooring-white-wall-3d-rendering_33739-485.jpg?size=626&ext=jpg&ga=GA1.2.2068660830.1656829885");
background-repeat: no-repeat;
background-size: 1200px;

width:1200px;
height: 800px;
margin: auto;
padding-top: 100px;
/*padding-bottom: 50px;
padding-left: -500px;*/
font-family: 'Open Sans Condensed', sans-serif;
font-size: 100px;
text-align: center;
/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}